<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ObjectListView" publicKeyToken="b1c5bf581481bcd4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.25410" newVersion="2.9.1.25410" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Si se va a ejecutar el servidor en el mismo equipo que el cliente usar "localhost", 
    en caso de ejecutar el servidor en un equipo distinto, poner la ip local del servidor.-->
    <add key="serverIp" value="192.168.1.139"/>
    <!--Este valor en segundos indica cuanto tiempo debe esperar el cliente la respuesta
    a una petición que le haya enviado anteriormente, valores recomendados entre 3 y 10.-->
    <add key="timeoutSecs" value="5"/> 
  </appSettings>
</configuration>
